* {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    border-top:12px solid lightgrey;
    border-left: 8px solid lightgrey;
    border-bottom: 18px solid lightgrey;
    border-right: 10px solid lightgrey;
    width: 900px;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    color: brown;
    margin-top: 0;
    margin-bottom: 0;

}

h2{
    color: #17e32b;
    border-bottom: 2px solid lightgrey;
}

h4 {
    color: brown;
}

ul {
    list-style: none;

}

li {
    margin: 5px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(white, #17e32b);
    border: 1px solid gray;
}

a {
    padding: 0 25px;
    text-decoration: none;
}

.mainDiv {
    display: flex;
}

.listDiv{
    margin-top: 20px;
}

.colorTitulo1{
    color: green;
}

.borderDiv {
    border: 2px solid lightgrey;
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient(white, lightgrey);
}

.colorBtn{
    background-image: linear-gradient(white, brown);
}

.foot{
    font-size: 12px;
    color: lightgrey;
    text-align: center;
}