* {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    border-top:8px solid lightgrey;
    border-left: 5px solid lightgrey;
    border-bottom: 14px solid lightgrey;
    border-right: 8px solid lightgrey;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    color: brown;
}

h2{
    color: #17e32b;
    border-bottom: 2px solid lightgrey;
}

h4 {
    color: brown;
}

.colorTitulo1{
    color: green;
}

.borderDiv {
    border: 2px solid lightgrey;
    margin: 20px;
    padding: 10px;
}